EMAIL=<<CRM Super User Email>>
PASSWORD=<<CRM Super User Password>>
QASE_TOKEN=<<QASE Token>>


# Tradin env (backoffice.tradin.dev)
TRADIN_EMAIL=<<Tradin User Email>>
TRADIN_PASSWORD=<<Tradin User Password>>


# Tradin env (backoffice.tradin.dev)
TRADIN_EMAIL=<<Tradin User Email>>
TRADIN_PASSWORD=<<Tradin User Password>>